<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="form-group border p-3 mt-1">
        <div class="text-center m-1">
            <label for="toemail">GÖNDERİLECEK MAİL</label>
        </div>
        <input type="text" class="form-control" id="toemail" name="toemail" placeholder="example@gmail.com">
    </div>
    <div class="form-group border p-3 mt-1">
        <div class="text-center m-1">
            <label for="firma">GÖNDERİLECEK FİRMA</label>
        </div>
        <input type="text" class="form-control" id="firma" name="firma" placeholder="Example LTD STI">
    </div>

    <div class="form-group border p-3 mt-1">
        <div class="text-center m-1">
            <label for='yazar'>GÖNDEREN</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="erhan_atalan" name="yazar" value="Erhan ATALAN" checked>
            <label class="form-check-label" for="erhan_atalan">Erhan ATALAN</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="serdar_bulut" name="yazar" value="Serdar BULUT">
            <label class="form-check-label" for="serdar_bulut">Serdar BULUT</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="davut_atalan" name="yazar" value="Davut ATALAN">
            <label class="form-check-label" for="davut_atalan">Davut ATALAN</label>
        </div>
    </div>

    <div class="form-group border p-3 mt-1">
        <div class="text-center m-1">
            <label for="usmodel">MODEL</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="usmodel_b" name="usmodel" value="B" checked>
            <label class="form-check-label" for="usmodel_b">B</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="usmodel_c" name="usmodel" value="C">
            <label class="form-check-label" for="usmodel_c">C</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="usmodel_cb" name="usmodel" value="CB">
            <label class="form-check-label" for="usmodel_cb">CB</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="usmodel_cc" name="usmodel" value="CC">
            <label class="form-check-label" for="usmodel_cc">CC</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="usmodel_v" name="usmodel" value="V">
            <label class="form-check-label" for="usmodel_v">V</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="usmodel_i" name="usmodel" value="I">
            <label class="form-check-label" for="usmodel_i">I</label>
        </div>
    </div>

    {% comment %} <div class="form-group border p-3 mt-1">
        <div class="text-center m-1">
            <label class="text-center" for="uzunluk">KANTAR UZUNLUĞU</label>
        </div>
        <input type="number" class="form-control" id="uzunluk" name="uzunluk">
    </div> {% endcomment %}
    <div class="form-group border p-3 mt-1">
        <div class="text-center m-1">
            <label class="text-center" for="uzunluk">KANTAR UZUNLUĞU</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="6" name="uzunluk" value="6">
            <label class="form-check-label" for="6">6</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="8" name="uzunluk" value="8">
            <label class="form-check-label" for="8">8</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="10" name="uzunluk" value="10">
            <label class="form-check-label" for="10">10</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="12" name="uzunluk" value="12">
            <label class="form-check-label" for="12">12</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="14" name="uzunluk" value="14">
            <label class="form-check-label" for="14">14</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="16" name="uzunluk" value="16" checked>
            <label class="form-check-label" for="16">16</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="18" name="uzunluk" value="18">
            <label class="form-check-label" for="18">18</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="20" name="uzunluk" value="20">
            <label class="form-check-label" for="20">20</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="22" name="uzunluk" value="22">
            <label class="form-check-label" for="22">22</label>
        </div>
    </div>





    <div class="form-group border p-3 mt-1">
        <div class="text-center m-1">
            <label for="tonaj">TONAJ</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="tonaj_30" name="tonaj" value="30">
            <label class="form-check-label" for="tonaj_30">30</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="tonaj_60" name="tonaj" value="60" checked>
            <label class="form-check-label" for="tonaj_60">60</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="tonaj_80" name="tonaj" value="80">
            <label class="form-check-label" for="tonaj_80">80</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="tonaj_100" name="tonaj" value="100">
            <label class="form-check-label" for="tonaj_100">100</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="tonaj_120" name="tonaj" value="120">
            <label class="form-check-label" for="tonaj_120">120</label>
        </div>
    </div>
    <div class="form-group border p-3 mt-1">
        <div class="text-center m-1">
            <label for='indikator'>İNDİKATÖR</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="abs_b3" name="indikator" value="ABS-B3" checked>
            <label class="form-check-label" for="abs_b3">ABS-B3</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="abs_i1" name="indikator" value="ABS-I1">
            <label class="form-check-label" for="abs_i1">ABS-I1</label>
        </div>
    </div>
</body>

</html>